OFTL_SCA_CONTEXT_ROOT="/sca"
OFTL_SCA_VERSION="1"
OFTL_SCA_HOST="0.0.0.0"
OFTL_SCA_PORT="8081"

OFTL_LOG_LEVEL="INFO"
OFTL_LOG_FORMAT="[%(asctime)s] %(levelname)s [%(name)s.%(funcName)s:%(lineno)d] %(message)s"

OFTL_POSTGRESDB_USERNAME="admin"
OFTL_POSTGRESDB_PASSWORD="[CHANGE ME]"
OFTL_POSTGRESDB_HOST="localhost"
OFTL_POSTGRESDB_PORT=5432
OFTL_POSTGRESDB_NAME="paytrace"
OFTL_POSTGRESDB_POOLSIZE=10

OFTL_FWCSV_ROOTDIR="./fwcsv"
OFTL_FWCSV_SCAN_INTERVAL_SECONDS=10
OFTL_FWCSV_STABILITY_WINDOW_SECONDS=5
OFTL_FWCSV_STABILITY_PROBE_SECONDS=1
OFTL_FWCSV_CLAIM_RETRY_SECONDS=2
OFTL_FWCSV_CLAIM_MAX_WAIT_SECONDS=60
OFTL_FWCSV_WORKER_COUNT=2
OFTL_FWCSV_QUEUE_MAXSIZE=1000
OFTL_FWCSV_CHECKPOINT_EVERY_ROWS=1000
OFTL_FWCSV_FILE_ENCODING="utf-8"
